@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165, 67%, 99%;
    --foreground: 240 10% 3.9%;
    --popover: 165, 50%, 97%;
    --popover-foreground: 240 10% 3.9%;
    --card: 167, 63%, 93%;
    --card-foreground: 240 10% 3.9%;
    --muted: 166, 62%, 88%;
    --muted-foreground: 0, 0%, 28%;
    --primary: 174, 63%, 21%;
    --primary-dark: 175, 80%, 16%;
    --primary-foreground: 165, 67%, 99%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 170, 53%, 33%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 173, 24%, 7%;
    --foreground: 0 0% 95%;
    --popover: 175, 24%, 9%;
    --popover-foreground: 0 0% 95%;
    --card: 174, 55%, 11%;
    --card-foreground: 0 0% 95%;
    --muted: 176, 93%, 12%;
    --muted-foreground: 0, 0%, 78%;
    --primary: 174, 63%, 21%;
    --primary-dark: 175, 80%, 16%;
    --primary-foreground: 165, 67%, 99%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 170, 53%, 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Leaflet map  */
.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
