@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 175 27% 100%;
    --black: 175 5% 10%;

    --background: 175 13% 95%;
    --foreground: 175 5% 10%;
    --card: 175 13% 90%;
    --card-foreground: 175 5% 15%;
    --popover: 175 13% 95%;
    --popover-foreground: 175 95% 10%;
    --primary: 175 80.2% 15.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 13% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 137 13% 85%;
    --muted-foreground: 175 5% 35%;
    --accent: 137 13% 80%;
    --accent-foreground: 175 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 175 5% 90%;
    --border: 175 20% 50%;
    --input: 175 20% 20%;
    --ring: 175 80.2% 15.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 175 13% 10%;
    --foreground: 175 5% 90%;
    --card: 175 13% 10%;
    --card-foreground: 175 5% 90%;
    --popover: 175 13% 5%;
    --popover-foreground: 175 5% 90%;
    --primary: 175 80.2% 15.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 13% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 137 13% 20%;
    --muted-foreground: 175 5% 60%;
    --accent: 137 13% 20%;
    --accent-foreground: 175 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 175 5% 90%;
    --border: 175 20% 20%;
    --input: 175 20% 20%;
    --ring: 175 80.2% 15.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Leaflet map  */
.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
